/*!
 * Theme Editor Styles
 */

.is-root-container.wp-site-blocks {
	padding: 15px 5vw;
}

.wp-block-navigation:where(:not([class*=has-text-decoration])) a {
	text-decoration: none;
}

/* Utils */
.mt-n20 {
	margin-top: -20rem !important
}