/*!
 * Theme Editor Styles
 */

.is-root-container.wp-site-blocks {
	padding: 15px 5vw;
}

.wp-block-navigation:where(:not([class*=has-text-decoration])) a {
	text-decoration: none;
}

/* Pagination */
.wp-block-query-pagination-numbers,
.posts-navigation ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.wp-block-query-pagination-numbers .page-numbers,
.posts-navigation ul .page-numbers {
  border: 3px solid;
  width: 2em;
  height: 2em;
  font-size: 1.2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-navigation {
  grid-column: span 3;
}

/* Single post navigation */
.wp-block-post-navigation-link a {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--wp--preset--color--light-gray-200);
  color: var(--wp--preset--color--mt-dark-blue);
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--space-grotesk);
  padding: 0.75rem 1.5rem;
  padding-right: 0.75rem;
}

.wp-block-post-navigation-link a::after {
  content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.28 12.9874C16.4207 12.8469 16.4998 12.6563 16.5 12.4574V12.0774C16.4977 11.879 16.4189 11.6892 16.28 11.5474L11.14 6.41743C11.0461 6.32277 10.9183 6.26953 10.785 6.26953C10.6517 6.26953 10.5239 6.32277 10.43 6.41743L9.72 7.12743C9.62594 7.21959 9.57293 7.34574 9.57293 7.47743C9.57293 7.60912 9.62594 7.73527 9.72 7.82743L14.17 12.2674L9.72 16.7074C9.62534 16.8013 9.5721 16.9291 9.5721 17.0624C9.5721 17.1957 9.62534 17.3235 9.72 17.4174L10.43 18.1174C10.5239 18.2121 10.6517 18.2653 10.785 18.2653C10.9183 18.2653 11.0461 18.2121 11.14 18.1174L16.28 12.9874Z' fill='%23011046'/%3E%3C/svg%3E%0A");
  height: 1.5rem;
  width: 1.5rem;
}

.wp-block-post-navigation-link.post-navigation-link-previous a {
  padding-left: 0.75rem;
}

.wp-block-post-navigation-link.post-navigation-link-previous a::after {
  transform: rotate(180deg);
  order: -1
}

/* Inputs */
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=search],
textarea,
select {
  border-radius: 0.125em;
  padding: 0.75em;
  line-height: 1.3;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--wp--preset--font-family--red-hat-display);
  background-color: var(--wp--preset--color--light-gray-100);
  border: 1px solid var(--wp--preset--color--mt-blue);
  color: var(--wp--preset--color--mt-dark-blue);
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--wp--preset--color--mt-green);
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=search]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: var(--wp--preset--color--dark-gray-500);
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=url]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=search]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--wp--preset--color--dark-gray-500);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

label {
  color: var(--wp--preset--color--light-gray-100);
  font-family: var(--wp--preset--font-family--red-hat-display);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

/* Search */
.wp-block-search .wp-block-search__label {
  font-weight: 500;
}

.wp-block-search__button-inside .wp-block-search__input {
  padding-right: 2em;
  width: 100%;
}
.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border: 0;
  padding: 0;
  position: relative;
}
.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
  padding: 0;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  top: 0;
  background: none;
  color: currentColor;
  display: flex;
  align-items: center;
}

/* Image */
.wp-block-image.purple {
  filter: hue-rotate(96deg) saturate(25);
}

/* Post image */
.post-content:has(.wp-block-post-featured-image.mt-n20) {
  padding-top: 22rem;
}

/* List */
ul.has-check-bullets {
  list-style: none;
  padding: 0;
}
ul.has-check-bullets li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
ul.has-check-bullets li::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 20.8781C16.8603 20.8781 20.8002 16.9382 20.8002 12.0781C20.8002 7.21795 16.8603 3.27806 12.0002 3.27806C7.14009 3.27806 3.2002 7.21795 3.2002 12.0781C3.2002 16.9382 7.14009 20.8781 12.0002 20.8781ZM11.7316 15.6024L16.6205 9.73571L15.2021 8.55371L10.9604 13.6438L8.74184 11.4253L7.43628 12.7308L10.3696 15.6642L11.0844 16.379L11.7316 15.6024Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
}

ol.has-big-numbers {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: list;
}

ol.has-big-numbers li {
  display: flex;
  counter-increment: list;
  gap: 1.5rem;
  align-items: center;
}

ol.has-big-numbers li::before {
  content: counter(list) " ";
  font-size: 2.5rem;
  color: var(--wp--preset--color--mt-blue);
}

ul.gap-1,
ol.gap-1 {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

ul.gap-4,
ol.gap-4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Utils */
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mt-n3 {
	margin-top: -3rem !important
}

.mt-n8 {
	margin-top: -8rem !important
}

.mt-n20 {
	margin-top: -20rem !important
}

.w-fit-content {
	width: fit-content !important;
}

.mw-45 {
	max-width: 45rem !important;
}

.mw-63 {
	max-width: 63rem !important;
}

.mw-65 {
	max-width: 65rem !important;
}

.mw-67 {
	max-width: 67rem !important;
}

.minw-7 {
	min-width: 7rem !important;
}
