.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mt-n3 {
	margin-top: -3rem !important;
}

.mt-n8 {
	margin-top: -8rem !important;
}

.mt-n19 {
	margin-top: -19rem !important;
}

.mt-n25 {
	margin-top: -25rem !important;
}

.mb-n2 {
	margin-bottom: -2rem !important;
}

.w-fit-content {
	width: fit-content !important;
}

.mw-18 {
	max-width: 18rem !important;
}

.mw-28 {
	max-width: 28rem !important;
}

.mw-45 {
	max-width: 45rem !important;
}

.mw-56 {
	max-width: 56rem !important;
}

.mw-62 {
	max-width: 62rem !important;
}

.mw-63 {
	max-width: 63rem !important;
}

.mw-65 {
	max-width: 65rem !important;
}

.mw-67 {
	max-width: 67rem !important;
}

.minw-7 {
	min-width: 7rem !important;
}

.is-visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}

.circle {
	clip-path: circle(50% at 50% 50%);
	filter: grayscale(1);
	opacity: 0.6;

	&.brigth {
		filter: brightness(1.2) grayscale(1);
		opacity: 1;
	}
}
