// Compile "main.scss" as "dist/main.css"
/**
 * Add custom styles
 *
 * CSS variables are defined in "theme.json"
 * https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json
 */

// Grayscale vars
$black:     var(--wp--preset--color--black) !default;
$dark-gray: var(--wp--preset--color--dark-gray) !default;
$gray:      var(--wp--preset--color--gray) !default;
$white:     var(--wp--preset--color--white) !default;

// Color vars
$charcoal: var(--wp--preset--color--charcoal) !default;
$green:    var(--wp--preset--color--green) !default;
$yellow:   var(--wp--preset--color--yellow) !default;
$orange:   var(--wp--preset--color--orange) !default;
$red:      var(--wp--preset--color--red) !default;

// Spacing
$spacing-vertical:   var(--wp--preset--spacing--3, 1rem) !default;
$spacing-horizontal: var(--wp--preset--spacing--4, 1.5rem) !default;

// Responsive breakpoints
$media-max-width-sm: 599px; // var(--wp--custom--media-max-width--sm);
$media-max-width-lg: 999px; // var(--wp--custom--media-max-width--lg);

:root {
	--custom--media-max-width--sm: #{$media-max-width-sm};
	--custom--media-max-width--lg: #{$media-max-width-lg};
}

/**
 * General
 */

img {
	vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea,
select {
	border-radius: 0.125em;
  padding: 0.75em;
  line-height: 1.3;
  max-width: 100%;
	font-size: 1rem;
  font-weight: 600;
  font-family: var(--wp--preset--font-family--red-hat-display);
  background-color: var(--wp--preset--color--light-gray-100);
  border: 1px solid var(--wp--preset--color--mt-blue);
  color: var(--wp--preset--color--mt-dark-blue);

	&:focus {
		outline: none;
		border-color: var(--wp--preset--color--mt-green);
	}

	&::placeholder {
		color: var(--wp--preset--color--dark-gray-500);
	}
}

select {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1em;
}
		
label {
	color: var(--wp--preset--color--light-gray-100);
	font-family: var(--wp--preset--font-family--red-hat-display);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
}

// input[type='checkbox'] {
//   width: 1em;
//   height: 1em;
//   padding: 0;
//   margin: 0;
//   background-size: contain;
//   appearance: none;
// }

// input[type='checkbox']:checked {
//   background-image: url('../img/check.svg');
//   background-repeat: no-repeat;
//   background-size: 100%;
//   border: none;
// }

// input[type='radio'] {
//   width: 1em;
//   height: 1em;
//   padding: 0;
//   margin: 0;
//   vertical-align: middle;
//   background-position: center center;
//   border-width: em(2px);
//   border-radius: 1em;
//   appearance: none;
// }

// input[type='radio']:checked {
//   background-image: radial-gradient(black 50%, transparent 60%);
// }

// h1,
// .h1 {
// 	font-size: var(--wp--custom--typography--font-size--colossal);
// 	line-height: var(--wp--custom--typography--line-height--page-title);
// }


/**
 * WordPress customization
 */


/* Header */

header {
	&.site-header {
		padding: 0;

		.wp-block-navigation {
			.wp-block-navigation__container {
				// ! hack: Makes the items same width to have a smoother change of font family
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: 1fr;
				place-items: center;
				gap: 0;

				.wp-block-navigation-item {
					transition: background-color 0.3s, color 0.3s;
				}

				> .wp-block-navigation-item {
					padding-block: $spacing-vertical;
					
					.wp-block-navigation__submenu-icon {
						margin-left: 0.5em;
						height: 0.7em;
						width: 0.7em;
						transition: transform 0.2s;
					}

					&:hover {
						font-family: var(--wp--preset--font-family--space-grotesk);
						color: var(--wp--preset--color--mt-green);
						text-decoration: underline;
						letter-spacing: 1.05px;

						> .wp-block-navigation__submenu-icon {
							transform: rotate(0.5turn);
						}
					}
				}
			}

			.wp-block-navigation__submenu-container {
				min-width: 255px !important;
				gap: 2px;
				letter-spacing: initial;
				
				.wp-block-navigation-item {
					font-family: var(--wp--preset--font-family--red-hat-display);
					color: var(--wp--preset--color--white);
					background-color: #061e3a66;

					&:hover {
						background-color: var(--wp--preset--color--mt-green);
						color: var(--wp--preset--color--mt-dark-blue);
						font-family: var(--wp--preset--font-family--space-grotesk);
						text-decoration: underline;
						letter-spacing: 1.05px;
					}
				}
			}

			&:not(.has-background) {
				.wp-block-navigation__submenu-container {
					background: none;
					border: none;
					color: unset;
				}
			}
		}
	}
}


/* Main */

main {
	.wp-block-query {
		.wp-block-post-title {
			padding: 0;
		}
	}
}

.pixel-background img {
	object-fit: cover;
	min-height: clamp(28rem, 85vh, 35rem);
}




// // Comment form: fields

// [class*="comment-form-"] {
// 	display: flex;

// 	label {
// 		min-width: 150px;
// 		margin-right: calc( #{$spacing-horizontal} * .5 );
// 	}
// }

// .comment-form-cookies-consent {
// 	display: block;
// }

// // Block: Search

// .wp-block-search {
// 	&.wp-block-search__button-inside {
// 		.wp-block-search__inside-wrapper {
// 			border-color: $dark-gray;

// 			input[type="search"] {
// 				border: none !important;
// 			}
// 		}

// 		.wp-block-search__button {
// 			background: transparent;
// 			border: none;
// 		}
// 	}
// }
.wp-block-search .wp-block-search__label {
	font-weight: 500;
}
.wp-block-search__button-inside {
	.wp-block-search__input {
		padding-right: 2em;
		width: 100%;
	}	

	.wp-block-search__inside-wrapper {
		border: 0;
		padding: 0;
		position: relative;
	
		& .wp-block-search__button {
			padding: 0;
			position: absolute;
			right: 0.5rem;
			bottom: 0;
			top: 0;
			background: none;
			color: currentColor;
			display: flex;
			align-items: center;
		}
	}
	
}

// // Block: Navigation

// .wp-block-navigation {
// 	.wp-block-navigation-link {
// 		&.current-menu-item {
// 			.wp-block-navigation-item__label {
// 				border-bottom: 2px solid;
// 			}
// 		}
// 	}

// 	.wp-block-navigation__responsive-container-close {
// 		position: fixed;
// 		top: $spacing-vertical;
// 		right: $spacing-horizontal;
// 	}
// }

// // Block: Pagination

// .wp-block-query-pagination {
// 	a {
// 		text-decoration: none;
// 	}

// 	.wp-block-query-pagination-numbers {
// 		.page-numbers:not(.dots) {
// 			display: inline-block;
// 			border: 1px solid;
// 			text-align: center;
// 			min-width: 30px;

// 			&.current {
// 				font-weight: bold;
// 			}
// 		}
// 	}
// }


// // Block: Image, Media and Text

// .wp-block-image,
// .wp-block-media-text__media {
// 	img,
// 	video {
// 		height: auto;
// 	}
// }

/* Pagination */
.wp-block-query-pagination-numbers,
.posts-navigation	ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: center;

	.page-numbers {
		border: 3px solid;
		width: 2em;
		height: 2em;
		font-size: 1.2rem;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.posts-navigation {
	grid-column: span 3;
}

/* Figcaption */
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption, 
.wp-block-image .alignright > figcaption, 
.wp-block-image.aligncenter > figcaption, 
.wp-block-image.alignleft > figcaption, 
.wp-block-image.alignright > figcaption {
	caption-side: bottom;
	display: table-caption;
	color: var(--wp--preset--color--light-gray-200);
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

/* Steps */
.wp-block-columns.steps {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
	max-width: 35em;
	gap: 1rem 2rem;

	.wp-block-column {
		&:nth-of-type(1) {
			grid-column: 5 / span 6;
			grid-row: 1 / 2;
		}

		&:nth-of-type(2) {
			grid-column: 9 / span 6;
			grid-row: 3 / 4;
		}

		&:nth-of-type(3) {
			grid-column: 1 / span 6;
			grid-row: 3 / 4;
		}
		&:nth-of-type(4) {
			grid-column: 5 / span 6;
			grid-row: 5 / 6;
		}
	}

	& > .arrow {
		grid-column: 7 / 9;
		align-self: center;
		justify-self: center;

		&:nth-of-type(2n - 1) {
			transform: rotate(-55deg);
		}

		&.arrow:nth-of-type(2n) {
			transform: rotate(55deg);
		}
	}
}


/* Image */
.wp-block-image.purple {
	filter: hue-rotate(96deg) saturate(25);
}

/* List */
ul.has-check-bullets {
	list-style: none;
	padding: 0;

	li {
    display: flex;
    gap: 0.5rem;
    align-items: center;

		&::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 20.8781C16.8603 20.8781 20.8002 16.9382 20.8002 12.0781C20.8002 7.21795 16.8603 3.27806 12.0002 3.27806C7.14009 3.27806 3.2002 7.21795 3.2002 12.0781C3.2002 16.9382 7.14009 20.8781 12.0002 20.8781ZM11.7316 15.6024L16.6205 9.73571L15.2021 8.55371L10.9604 13.6438L8.74184 11.4253L7.43628 12.7308L10.3696 15.6642L11.0844 16.379L11.7316 15.6024Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

ul.has-blue-bullets {
	list-style: none;
	padding-left: 0;

	li {
    display: flex;
    gap: 0.5em;
    align-items: center;

		&::before {
			content: '•';
			font-size: 1.75em;
			line-height: 0;
			color: var(--wp--preset--color--mt-blue);
		}
	}
}

ol.has-big-numbers {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
	padding: 0;
	margin: 0;
	counter-reset: list;

	li {
		display: flex;
		counter-increment: list;
		gap: 1.5rem;
		align-items: center;
	}

	li::before {
		content: counter(list) " ";
		font-size: 2.5rem;
		color: var(--wp--preset--color--mt-blue);
	}
}

ul.gap-1,
ol.gap-1 {
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

ul.gap-4,
ol.gap-4 {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

/* Utils */
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mt-n3 {
	margin-top: -3rem !important
}

.mt-n8 {
	margin-top: -8rem !important
}

.mt-n20 {
	margin-top: -20rem !important
}

.w-fit-content {
	width: fit-content !important;
}

.mw-45 {
	max-width: 45rem !important;
}

.mw-56 {
	max-width: 56rem !important;
}

.mw-62 {
	max-width: 62rem !important;
}

.mw-63 {
	max-width: 63rem !important;
}

.mw-65 {
	max-width: 65rem !important;
}

.mw-67 {
	max-width: 67rem !important;
}

.minw-7 {
	min-width: 7rem !important;
}

.is-visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}
