// Compile "main.scss" as "dist/main.css"
/**
 * Add custom styles
 *
 * CSS variables are defined in "theme.json"
 * https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json
 */

// Grayscale vars
$black:     var(--wp--preset--color--black) !default;
$dark-gray: var(--wp--preset--color--dark-gray) !default;
$gray:      var(--wp--preset--color--gray) !default;
$white:     var(--wp--preset--color--white) !default;

// Color vars
$charcoal: var(--wp--preset--color--charcoal) !default;
$green:    var(--wp--preset--color--green) !default;
$yellow:   var(--wp--preset--color--yellow) !default;
$orange:   var(--wp--preset--color--orange) !default;
$red:      var(--wp--preset--color--red) !default;

// Spacing
$spacing-vertical:   var(--wp--preset--spacing--3, 1rem) !default;
$spacing-horizontal: var(--wp--preset--spacing--4, 1.5rem) !default;

// Responsive breakpoints
$media-max-width-sm: 599px; // var(--wp--custom--media-max-width--sm);
$media-max-width-lg: 999px; // var(--wp--custom--media-max-width--lg);

:root {
	--custom--media-max-width--sm: #{$media-max-width-sm};
	--custom--media-max-width--lg: #{$media-max-width-lg};
}

/**
 * General
 */

img {
	vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea,
select {
	border-radius: 0.125em;
  padding: 0.75em;
  line-height: 1.3;
  max-width: 100%;
	font-size: 1rem;
  font-weight: 600;
  font-family: var(--wp--preset--font-family--red-hat-display);
  background-color: var(--wp--preset--color--light-gray-100);
  border: 1px solid var(--wp--preset--color--mt-blue);
  color: var(--wp--preset--color--mt-dark-blue);

	&:focus {
		outline: none;
		border-color: var(--wp--preset--color--mt-green);
	}

	&::placeholder {
		color: var(--wp--preset--color--dark-gray-500);
	}
}

select {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1em;
}
		
label {
	font-family: var(--wp--preset--font-family--red-hat-display);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
}

// input[type='checkbox'] {
//   width: 1em;
//   height: 1em;
//   padding: 0;
//   margin: 0;
//   background-size: contain;
//   appearance: none;
// }

// input[type='checkbox']:checked {
//   background-image: url('../img/check.svg');
//   background-repeat: no-repeat;
//   background-size: 100%;
//   border: none;
// }

// input[type='radio'] {
//   width: 1em;
//   height: 1em;
//   padding: 0;
//   margin: 0;
//   vertical-align: middle;
//   background-position: center center;
//   border-width: em(2px);
//   border-radius: 1em;
//   appearance: none;
// }

// input[type='radio']:checked {
//   background-image: radial-gradient(black 50%, transparent 60%);
// }

// h1,
// .h1 {
// 	font-size: var(--wp--custom--typography--font-size--colossal);
// 	line-height: var(--wp--custom--typography--line-height--page-title);
// }


/**
 * WordPress customization
 */


/* Header */

header {
	&.site-header {
		padding: 0;

		.wp-block-navigation {
			.wp-block-navigation__container {
				// ! hack: Makes the items same width to have a smoother change of font family
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: 1fr;
				place-items: center;
				gap: 0;

				.wp-block-navigation-item {
					transition: background-color 0.3s, color 0.3s;
				}

				> .wp-block-navigation-item {
					padding-block: $spacing-vertical;
					
					.wp-block-navigation__submenu-icon {
						margin-left: 0.5em;
						height: 0.7em;
						width: 0.7em;
						transition: transform 0.2s;
						position: absolute;
						right: -1.25em;
					}

					&:hover {
						font-family: var(--wp--preset--font-family--space-grotesk);
						color: var(--wp--preset--color--mt-green);
						text-decoration: underline;
						letter-spacing: 1.05px;

						> .wp-block-navigation__submenu-icon {
							transform: rotate(0.5turn);
						}
					}
				}
			}

			.wp-block-navigation__submenu-container {
				min-width: 255px !important;
				gap: 2px;
				letter-spacing: initial;
				
				.wp-block-navigation-item {
					font-family: var(--wp--preset--font-family--red-hat-display);
					color: var(--wp--preset--color--white);
					background-color: #061e3a66;

					&:hover {
						background-color: var(--wp--preset--color--mt-green);
						color: var(--wp--preset--color--mt-dark-blue);
						font-family: var(--wp--preset--font-family--space-grotesk);
						text-decoration: underline;
						letter-spacing: 1.05px;
					}
				}
			}

			&:not(.has-background) {
				.wp-block-navigation__submenu-container {
					background: none;
					border: none;
					color: unset;
				}
			}
		}
	}
}


/* Main */

main {
	.wp-block-query {
		.wp-block-post-title {
			padding: 0;
		}
	}
}

.pixel-background img {
	object-fit: cover;
	min-height: clamp(28rem, 85vh, 35rem);
}

/* Posts content style */
.post-content .entry-content {
	font-size: 1.125rem;
	
  p {
    line-height: 1.4;
  }

  a {
    color: #0077CB;
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 0.35em;
    line-height: 1.3;
    font-weight: 700;

    + * {
      margin-top: 0;
    }
  }

  h3 {
    color: #0077CB;
    font-size: 1.5rem;
  }

  .wp-block-image {
    width: 100%;
    margin-top: 2rem;

    figcaption {
      color: inherit;
      margin: 0.5rem;
      font-size: 1rem;
    }
  }

  a:not([class]) {
    color: #0077CB;
    text-decoration: underline;
    background-image: linear-gradient(to bottom, #0077CB 0%, #0077CB 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 0% 1.3em;
    transition: background-size 0.4s 0.2s, color 0.4s 0.2s;
    
    &:hover,
    &:focus {
      background-size: 100% 1.3em;
      transition-delay: 0s;
      color: white;
    }
  }
}

/* Table of contents */
.ez-toc-counter nav ul li a::before {
  text-decoration: none;
}

.ez-toc-counter nav ul li ul li a::before {
  content: counter(item, lower-alpha) ". ";
}

#ez-toc-container {
  border: 1px solid var(--wp--preset--color--mt-green);
  border-radius: 0;
  padding: 16px !important;
  background-color: transparent;
  transition: background-color 0.3s;
  box-sizing: border-box;
  width: 100%;

  > nav > ul {
    margin-top: 14px;
  }

  > .ez-toc-title-container {
    line-height: 130%;
  }

  p.ez-toc-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.3s;
  }

  ul li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.85;
  }

  a {
    color: #0077cb;
    text-decoration: underline;
    font-size: 1rem;
    display: inline-flex;
    
    &:visited {
      color: #0077cb;
    }
    
    &.ez-toc-toggle {
      &::before {
        content: "Cerrar tabla";
      }
    
      > label {
        display: none;
      }
    }
  }

  &.toc_close {
    background-color: var(--wp--preset--color--mt-dark-blue);
    border-color: #0395fc;

    p.ez-toc-title {
      color: white;
    }

    a.ez-toc-toggle {
      color: var(--wp--preset--color--mt-green);
    }

    a.ez-toc-toggle::before {
      content: 'Desplegar tabla';
    }
  }
}

// // Comment form: fields

// [class*="comment-form-"] {
// 	display: flex;

// 	label {
// 		min-width: 150px;
// 		margin-right: calc( #{$spacing-horizontal} * .5 );
// 	}
// }

// .comment-form-cookies-consent {
// 	display: block;
// }

// // Block: Search

// .wp-block-search {
// 	&.wp-block-search__button-inside {
// 		.wp-block-search__inside-wrapper {
// 			border-color: $dark-gray;

// 			input[type="search"] {
// 				border: none !important;
// 			}
// 		}

// 		.wp-block-search__button {
// 			background: transparent;
// 			border: none;
// 		}
// 	}
// }
.wp-block-search .wp-block-search__label {
	font-weight: 500;
}
.wp-block-search__button-inside {
	.wp-block-search__input {
		padding-right: 2em;
		width: 100%;
	}	

	.wp-block-search__inside-wrapper {
		border: 0;
		padding: 0;
		position: relative;
	
		& .wp-block-search__button {
			padding: 0;
			position: absolute;
			right: 0.5rem;
			bottom: 0;
			top: 0;
			background: none;
			color: currentColor;
			display: flex;
			align-items: center;
		}
	}
	
}

// // Block: Navigation

// .wp-block-navigation {
// 	.wp-block-navigation-link {
// 		&.current-menu-item {
// 			.wp-block-navigation-item__label {
// 				border-bottom: 2px solid;
// 			}
// 		}
// 	}

// 	.wp-block-navigation__responsive-container-close {
// 		position: fixed;
// 		top: $spacing-vertical;
// 		right: $spacing-horizontal;
// 	}
// }

// // Block: Pagination

// .wp-block-query-pagination {
// 	a {
// 		text-decoration: none;
// 	}

// 	.wp-block-query-pagination-numbers {
// 		.page-numbers:not(.dots) {
// 			display: inline-block;
// 			border: 1px solid;
// 			text-align: center;
// 			min-width: 30px;

// 			&.current {
// 				font-weight: bold;
// 			}
// 		}
// 	}
// }


// // Block: Image, Media and Text

// .wp-block-image,
// .wp-block-media-text__media {
// 	img,
// 	video {
// 		height: auto;
// 	}
// }

/* Sidebar categories. */
.sidebar-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;

  li {
    margin-bottom: 0.5rem;
  }
}

.sidebar {
	a:not([class]) {
    color: #0077CB;
    text-decoration: underline;
    background-image: linear-gradient(to bottom, #0077CB 0%, #0077CB 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 0% 1.3em;
    transition: background-size 0.4s 0.2s, color 0.4s 0.2s;

    &:hover,
    &:focus {
      background-size: 100% 1.3em;
      transition-delay: 0s;
      color: white;
    }
  }

	.gform_wrapper.gravity-theme {
    line-height: 1;
		
		.gfield.gfield--width-half {
			grid-column: span 12;
		}

		.gfield_required {
			display: none;
		}

		.ginput_container.ginput_container_consent label {
			font-size: 0.75rem;
			font-weight: 400;
			line-height: 1.3;
			text-transform: none;
		}

		input {
			line-height: 1.5 !important;
		}

		.field_description_below .gfield_consent_description,
		.gfield_consent_description {
			border: none;
			font-size: 0.8rem;
			margin-top: 1rem;
			max-height: 0;
			overflow: hidden;
			padding: 0;
			width: 100%;
			line-height: 1.4;
			transition: max-height 0.5s;
		}

		input[type='submit'] {
			background-color: var(--wp--preset--color--mt-green);
			color: var(--wp--preset--color--mt-dark-blue);
			font-family: var(--wp--preset--font-family--space-grotesk);
			font-size: var(--wp--preset--font-size--medium);
			font-weight: var(--wp--custom--typography--font-weight--bolder);
			text-transform: uppercase;
			border: none;
			cursor: pointer;
			padding: 0.75rem 1rem;
		}
	}
}

.wp-block-embed {
	margin: 1.5rem 0;
}

.update-date:not(:has(.wp-block-post-date__modified-date)), 
.update-date:not(:has(.wp-block-post-date__modified-date)) ~ p {
	display: none;
}


/* Pagination */
.wp-block-query-pagination-numbers,
.posts-navigation	ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: center;
	padding: 0;

	.page-numbers {
		border: 3px solid;
		width: 2em;
		height: 2em;
		font-size: 1.2rem;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.posts-navigation {
	grid-column: span 3;
}

/* Single post navigation */
.wp-block-post-navigation-link a {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--wp--preset--color--light-gray-200);
  color: var(--wp--preset--color--mt-dark-blue);
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--space-grotesk);
  padding: 0.75rem 1.5rem;
  padding-right: 0.75rem;
	border: 2px solid transparent;
	transition: border-color 0.3s;

	&::after {
		content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.28 12.9874C16.4207 12.8469 16.4998 12.6563 16.5 12.4574V12.0774C16.4977 11.879 16.4189 11.6892 16.28 11.5474L11.14 6.41743C11.0461 6.32277 10.9183 6.26953 10.785 6.26953C10.6517 6.26953 10.5239 6.32277 10.43 6.41743L9.72 7.12743C9.62594 7.21959 9.57293 7.34574 9.57293 7.47743C9.57293 7.60912 9.62594 7.73527 9.72 7.82743L14.17 12.2674L9.72 16.7074C9.62534 16.8013 9.5721 16.9291 9.5721 17.0624C9.5721 17.1957 9.62534 17.3235 9.72 17.4174L10.43 18.1174C10.5239 18.2121 10.6517 18.2653 10.785 18.2653C10.9183 18.2653 11.0461 18.2121 11.14 18.1174L16.28 12.9874Z' fill='%23011046'/%3E%3C/svg%3E%0A");
		height: 1.5rem;
		width: 1.5rem;
	}

	&:hover {
		border-color: #28e8a3;
		text-decoration: none;
	}
}

.wp-block-post-navigation-link.post-navigation-link-previous a {
  padding-left: 0.75rem;
	padding-right: 1.5rem;
}

.wp-block-post-navigation-link.post-navigation-link-previous a::after {
  transform: rotate(180deg);
  order: -1
}

/* Figcaption */
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption, 
.wp-block-image .alignright > figcaption, 
.wp-block-image.aligncenter > figcaption, 
.wp-block-image.alignleft > figcaption, 
.wp-block-image.alignright > figcaption {
	caption-side: bottom;
	display: table-caption;
}

.wp-block-image figcaption {
	color: var(--wp--preset--color--light-gray-200);
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

/* Steps */
.wp-block-columns.steps {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
	max-width: 35em;
	gap: 1rem 2rem;

	.wp-block-column {
		&:nth-of-type(1) {
			grid-column: 5 / span 6;
			grid-row: 1 / 2;
		}

		&:nth-of-type(2) {
			grid-column: 9 / span 6;
			grid-row: 3 / 4;
		}

		&:nth-of-type(3) {
			grid-column: 1 / span 6;
			grid-row: 3 / 4;
		}
		&:nth-of-type(4) {
			grid-column: 5 / span 6;
			grid-row: 5 / 6;
		}
	}

	& > .arrow {
		grid-column: 7 / 9;
		align-self: center;
		justify-self: center;

		&:nth-of-type(2n - 1) {
			transform: rotate(-55deg);
		}

		&.arrow:nth-of-type(2n) {
			transform: rotate(55deg);
		}
	}
}


/* Image */
.wp-block-image.purple {
	filter: hue-rotate(96deg) saturate(25);
}

/* List */
ul.has-check-bullets {
	list-style: none;
	padding: 0;

	li {
    display: flex;
    gap: 0.5rem;
    align-items: center;

		&::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 20.8781C16.8603 20.8781 20.8002 16.9382 20.8002 12.0781C20.8002 7.21795 16.8603 3.27806 12.0002 3.27806C7.14009 3.27806 3.2002 7.21795 3.2002 12.0781C3.2002 16.9382 7.14009 20.8781 12.0002 20.8781ZM11.7316 15.6024L16.6205 9.73571L15.2021 8.55371L10.9604 13.6438L8.74184 11.4253L7.43628 12.7308L10.3696 15.6642L11.0844 16.379L11.7316 15.6024Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

ul.has-blue-bullets {
	list-style: none;
	padding-left: 0;

	li {
    display: flex;
    gap: 0.5em;
    align-items: center;

		&::before {
			content: '•';
			font-size: 1.75em;
			line-height: 0;
			color: var(--wp--preset--color--mt-blue);
		}
	}
}

ol.has-big-numbers {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
	padding: 0;
	margin: 0;
	counter-reset: list;

	li {
		display: flex;
		counter-increment: list;
		gap: 1.5rem;
		align-items: center;
	}

	li::before {
		content: counter(list) " ";
		font-size: 2.5rem;
		color: var(--wp--preset--color--mt-blue);
	}
}

ul.gap-1,
ol.gap-1 {
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

ul.gap-4,
ol.gap-4 {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

/* Utils */
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mt-n3 {
	margin-top: -3rem !important
}

.mt-n8 {
	margin-top: -8rem !important
}

.mt-n20 {
	margin-top: -20rem !important
}

.w-fit-content {
	width: fit-content !important;
}

.mw-45 {
	max-width: 45rem !important;
}

.mw-56 {
	max-width: 56rem !important;
}

.mw-62 {
	max-width: 62rem !important;
}

.mw-63 {
	max-width: 63rem !important;
}

.mw-65 {
	max-width: 65rem !important;
}

.mw-67 {
	max-width: 67rem !important;
}

.minw-7 {
	min-width: 7rem !important;
}

.is-visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}
