// Compile "main.scss" as "dist/main.css"
@import './scss/mixins.scss';

/**
 * General
 */
html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea,
select {
	border-radius: 0.125em;
  padding: 0.75em;
  line-height: 1.3;
  max-width: 100%;
	font-size: 1rem;
  font-weight: 600;
  font-family: var(--wp--preset--font-family--red-hat-display);
  background-color: var(--wp--preset--color--light-gray-100);
  border: 1px solid var(--wp--preset--color--mt-blue);
  color: var(--wp--preset--color--mt-dark-blue);

	&:focus {
		outline: none;
		border-color: var(--wp--preset--color--mt-green);
	}

	&::placeholder {
		color: var(--wp--preset--color--dark-gray-500);
	}
}

select {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1em;
}
		
label,
legend {
	font-family: var(--wp--preset--font-family--red-hat-display);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
}

option {
	font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0;
	appearance: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
	outline: none;
	vertical-align: middle;
}

input[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23FBFBFC' stroke-linecap='square'/%3E%3C/svg%3E%0A");
	
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23FBFBFC' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.86676L6.79997 11.5334L12.6666 5.66675' stroke='%23FBFBFC' stroke-linecap='square'/%3E%3C/svg%3E%0A");
	}

	&:checked {
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.4V1.59999C15.6 1.15816 15.2418 0.799988 14.8 0.799988L1.99998 0.799988C1.55815 0.799988 1.19998 1.15816 1.19998 1.59999V14.4C1.19998 14.8418 1.55815 15.2 1.99998 15.2H14.8C15.2418 15.2 15.6 14.8418 15.6 14.4Z' fill='%2328E8A3' stroke='%2328E8A3' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.53338L6.79997 11.2L12.6666 5.33337' stroke='%23011046' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
	}
}



input[type="radio"] {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.39995' cy='8.33336' r='7.2' stroke='%23FBFBFC'/%3E%3C/svg%3E%0A");

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.39995' cy='8.33336' r='7.2' stroke='%23FBFBFC'/%3E%3Ccircle cx='8.4' cy='8.33335' r='4.4' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&:checked {
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.39995' cy='8.33336' r='7.2' stroke='%23FBFBFC'/%3E%3Ccircle cx='8.4' cy='8.33335' r='4.4' fill='%2328E8A3'/%3E%3C/svg%3E%0A");
	}
}

// h1,
// .h1 {
// 	font-size: var(--wp--custom--typography--font-size--colossal);
// 	line-height: var(--wp--custom--typography--line-height--page-title);
// }


/**
 * WordPress customization
 */


/* Header */
header {
	padding: 0;

	.wp-block-navigation {
		.wp-block-navigation__container {
			// ! hack: Makes the items same width to have a smoother change of font family
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			place-items: center;
			gap: 0;

			.wp-block-navigation-item {
				transition: background-color 0.3s, color 0.3s;
			}

			> .wp-block-navigation-item {
				padding-block: var(--wp--preset--spacing--3, 1rem);
				
				.wp-block-navigation__submenu-icon {
					margin-left: 0.5em;
					height: 0.7em;
					width: 0.7em;
					transition: transform 0.2s;
					position: absolute;
					right: -1.25em;
				}

				&:hover {
					font-family: var(--wp--preset--font-family--space-grotesk);
					color: var(--wp--preset--color--mt-green);
					text-decoration: underline;
					letter-spacing: 1.05px;

					> .wp-block-navigation__submenu-icon {
						transform: rotate(0.5turn);
					}
				}
			}
		}

		.wp-block-navigation__submenu-container {
			min-width: 255px !important;
			gap: 2px;
			letter-spacing: initial;
			
			.wp-block-navigation-item {
				font-family: var(--wp--preset--font-family--red-hat-display);
				color: var(--wp--preset--color--white);
				background-color: #061e3a66;

				&:hover {
					background-color: var(--wp--preset--color--mt-green);
					color: var(--wp--preset--color--mt-dark-blue);
					font-family: var(--wp--preset--font-family--space-grotesk);
					text-decoration: underline;
					letter-spacing: 1.05px;
				}
			}
		}

		&:not(.has-background) {
			.wp-block-navigation__submenu-container {
				background: none;
				border: none;
				color: unset;
			}
		}
	}
}


/* Main */

main {
	.wp-block-query {
		.wp-block-post-title {
			padding: 0;
		}
	}
}

.pixel-background img {
	object-fit: cover;
	min-height: clamp(28rem, 85vh, 35rem);
}

/* Posts content style */
.post-content .entry-content {
	font-size: 1.125rem;
	
  p {
    line-height: 1.4;
  }

  a {
    color: #0077CB;
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 0.35em;
    line-height: 1.3;
    font-weight: 700;

    + * {
      margin-top: 0;
    }
  }

  h3 {
    color: #0077CB;
    font-size: 1.5rem;
  }

	h5 {
		color: #0077cb;
	}

  .wp-block-image {
    width: 100%;
    margin-top: 2rem;

    figcaption {
      color: inherit;
      margin: 0.5rem;
      font-size: 1rem;
    }
  }

  a:not([class]),
	.wp-block-pages-list__item__link {
		@include animated-link(#0077CB, white);
  }
}

.single {
	.post-content > :first-child.wp-block-post-featured-image {
		@media screen and (min-width: 769px) {
			margin-top: -20rem
		}
	
		@media screen and (max-width: 768px) {
			margin-top: -10rem
		}
	
		@media screen and (max-width: 500px) {
			margin-top: -8rem
		}
	}
}

.page-template-pagina-legal,
.single {
	.hero-banner {
		margin-bottom: 0 !important;
	}
}

.page.page-template-default {
	a:not([class]):not(.wp-block-image a) {
		@include animated-link(var(--wp--preset--color--mt-green), var(--wp--preset--color--mt-dark-blue));
	}
}

.site-footer {
	a.wp-block-navigation-item__content {
		@include animated-link(white, var(--wp--preset--color--mt-dark-blue), 1.5em);
	}

	a:not([class]):not(.wp-block-image a) {
		@include animated-link(var(--wp--preset--color--mt-green), var(--wp--preset--color--mt-dark-blue));
		text-align: center;
	}
}

.wp-block-button .wp-block-button__link {
	transition: color 0.2s, background-color 0.2s;

  &:hover{
		background-color: var(--wp--preset--color--mt-purple) !important;
		color: white !important;
	}
}

/* Table of contents */
.ez-toc-counter nav ul li a::before {
  text-decoration: none;
}

// .ez-toc-counter nav ul li ul li a::before {
//   content: counter(item, lower-alpha) ". ";
// }

#ez-toc-container {
  border: 1px solid var(--wp--preset--color--mt-green);
  border-radius: 0;
  padding: 16px !important;
  background-color: transparent;
  transition: background-color 0.3s;
  box-sizing: border-box;
  width: 100%;

  > nav > ul {
    margin-top: 14px;
  }

  > .ez-toc-title-container {
    line-height: 130%;
  }

  p.ez-toc-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.3s;
  }

  ul li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.85;
  }

  a {
    color: #0077cb;
    text-decoration: underline;
    font-size: 1rem;
    display: inline-flex;
    
    &:visited {
      color: #0077cb;
    }
    
    &.ez-toc-toggle {
      &::before {
        content: "Cerrar tabla";
      }
    
      > label {
        display: none;
      }
    }
  }

  &.toc_close {
    background-color: var(--wp--preset--color--mt-dark-blue);
    border-color: #0395fc;

    p.ez-toc-title {
      color: white;
    }

    a.ez-toc-toggle {
      color: var(--wp--preset--color--mt-green);
    }

    a.ez-toc-toggle::before {
      content: 'Desplegar tabla';
    }
  }
}

// // Comment form: fields

// [class*="comment-form-"] {
// 	display: flex;

// 	label {
// 		min-width: 150px;
// 	}
// }

// .comment-form-cookies-consent {
// 	display: block;
// }

// Block: Search
.wp-block-search .wp-block-search__label {
	font-weight: 500;
}
.wp-block-search__button-inside {
	.wp-block-search__input {
		padding-right: 2em;
		width: 100%;
	}	

	.wp-block-search__inside-wrapper {
		border: 0;
		padding: 0;
		position: relative;
	
		& .wp-block-search__button {
			padding: 0;
			position: absolute;
			right: 0.5rem;
			bottom: 0;
			top: 0;
			background: none;
			color: currentColor;
			display: flex;
			align-items: center;
		}
	}
	
}

// Block: Image, Media and Text
.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

// Forms 
.gform_wrapper.gravity-theme {
	line-height: 1;
	
	.gchoice {
    display: flex ;
    gap: 0.4rem;

		input {
			margin-top: 0.2em !important;
		}
	}

	.gfield_required {
    color: var(--wp--preset--color--mt-green);
    text-transform: none;
    font-style: normal !important;
    font-size: 0.9rem;
	}

	.gfield_error .gfield_repeater_cell label, 
	.gfield_error label, 
	.gfield_error legend, 
	// .gfield_validation_message, 
	// .validation_message, 
	[aria-invalid=true] + label, 
	label + [aria-invalid=true] {
		color: var(--wp--preset--color--mt-pink);
	}


	.gfield_error label,
	.gfield_error legend,
	.gfield_required {
		color: var(--wp--preset--color--mt-pink) !important;
	}


	.gfield_error [aria-invalid=true] {
		border-color: var(--wp--preset--color--mt-pink) !important;
	}
	
	.validation_message,
	.gfield_validation_message,
	.gform_validation_errors,
	.gform_validation_errors > h2{
		color: #a42509 !important;
		border-color: #a42509 !important;
	}

	.ginput_container.ginput_container_consent label {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.3;
		text-transform: none;
	}

	input {
		line-height: 1.5 !important;
	}

	.field_description_above {
		.description, 
		.gfield_description, 
		.gsection_description, 
		.instruction {
			line-height: 1.3 !important;
		}
	}

	.field_description_below .gfield_consent_description,
	.gfield_consent_description {
		border: none;
		font-size: 0.8rem;
		margin-top: 1rem;
		max-height: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
		line-height: 1.4;
		transition: max-height 0.5s;
	}


	.gsection {
		border: none;
		padding: 0;

		.gsection_title {
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: bold;
			margin: 1rem 0;
		}
	}

	.gfield.gfield--type-radio legend,
	.gfield.gfield--type-checkbox legend {
		padding-top: 2rem !important;
		margin-bottom: 1rem !important;
	}

	.ginput_container.ginput_container_checkbox .gfield_checkbox,
	.ginput_container.ginput_container_radio .gfield_radio {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		font-size: 1.2rem;

		label {
			text-transform: unset;
		}

		* {
			font-size: inherit !important;
		}
	}

	.button {
		background-color: var(--wp--preset--color--mt-green);
		color: var(--wp--preset--color--mt-dark-blue);
		font-family: var(--wp--preset--font-family--space-grotesk);
		font-size: var(--wp--preset--font-size--medium);
		font-weight: var(--wp--custom--typography--font-weight--bolder);
		text-transform: uppercase;
		border: none;
		cursor: pointer;
		padding: 0.75rem 1rem;
		margin: auto;
		transition: color 0.2s, background-color 0.2s;
		
		&:hover{
			background-color: var(--wp--preset--color--mt-blue) !important;
			color: white !important;
		}
	}
}

// Form variator classes
.not-full .gform_wrapper.gravity-theme .gform_footer .gform-button--width-full {
	width: unset !important;
}

.normal-labels .gfield {
	label,
	legend {
		&:not(.gfield_consent_label) {
			font-size: 1.1875rem !important;
			font-style: normal !important;
			font-weight: 400 !important;
			text-transform: unset !important;
		}
	}

	label.gfield_label.gform-field-label, 
	legend.gfield_label.gform-field-label{
		font-weight: bold !important;
	}
}

.button-left .gform_wrapper.gravity-theme input[type='submit'] {
	margin-left: 0 !important;
}

.button-right .gform_wrapper.gravity-theme input[type='submit'] {
	margin-right: 0 !important;
}

/* Sidebar categories. */
.sidebar-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;

  li {
    margin-bottom: 0.5rem;
  }
}

.sidebar {
	.has-mt-dark-blue-color a {
		color: inherit;
	}

	a:not([class]) {
    color: #0077CB;
    text-decoration: underline;
    background-image: linear-gradient(to bottom, #0077CB 0%, #0077CB 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 0% 1.3em;
    transition: background-size 0.4s 0.2s, color 0.4s 0.2s;

    &:hover,
    &:focus {
      background-size: 100% 1.3em;
      transition-delay: 0s;
      color: white;
    }
  }

	.gform_wrapper.gravity-theme {
		.gfield.gfield--width-half {
			grid-column: span 12;
		}

		.gfield_required {
			color: var(--wp--preset--color--mt-pink);
		}

		.gform_required_legend {
			font-size: 0.9rem;
		}

		.ginput_container.ginput_container_consent label,
		.display-description-btn {
			font-size: 0.75rem;
		}

		.display-description-btn {
			@include animated-link(#0077CB, white);
		}

		input[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23011046' stroke-linecap='square'/%3E%3C/svg%3E%0A");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23011046' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.86676L6.79997 11.5334L12.6666 5.66675' stroke='%23011046' stroke-linecap='square'/%3E%3C/svg%3E%0A");
			}

			&:checked {
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' fill='%2328E8A3' stroke='%2328E8A3' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.86676L6.79997 11.5334L12.6666 5.66675' stroke='%23011046' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		}
		}
	}
}

.wp-block-embed {
	margin: 1.5rem 0;
}

.update-date:not(:has(.wp-block-post-date__modified-date)), 
.update-date:not(:has(.wp-block-post-date__modified-date)) ~ p {
	display: none;
}


/* Pagination */
.wp-block-query-pagination-numbers,
.posts-navigation	ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: center;
	padding: 0;

	.page-numbers {
		border: 3px solid;
		width: 2em;
		height: 2em;
		font-size: 1.2rem;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		&.current {
			background-color: var(--wp--preset--color--mt-green);
			color: #011046;
			border-color: var(--wp--preset--color--mt-green) !important;
		}
		
		&.dots {
			border: none;
			width: auto;
			height: 2em;
		}
	}
}

.posts-navigation {
	grid-column: span 3;
	width: 100%;
}

/* Single post navigation */
.wp-block-post-navigation-link a {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--wp--preset--color--light-gray-200);
  color: var(--wp--preset--color--mt-dark-blue);
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--space-grotesk);
  padding: 0.75rem 1.5rem;
  padding-right: 0.75rem;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  text-decoration: none;
  font-weight: bold;

	&::after {
		content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.28 12.9874C16.4207 12.8469 16.4998 12.6563 16.5 12.4574V12.0774C16.4977 11.879 16.4189 11.6892 16.28 11.5474L11.14 6.41743C11.0461 6.32277 10.9183 6.26953 10.785 6.26953C10.6517 6.26953 10.5239 6.32277 10.43 6.41743L9.72 7.12743C9.62594 7.21959 9.57293 7.34574 9.57293 7.47743C9.57293 7.60912 9.62594 7.73527 9.72 7.82743L14.17 12.2674L9.72 16.7074C9.62534 16.8013 9.5721 16.9291 9.5721 17.0624C9.5721 17.1957 9.62534 17.3235 9.72 17.4174L10.43 18.1174C10.5239 18.2121 10.6517 18.2653 10.785 18.2653C10.9183 18.2653 11.0461 18.2121 11.14 18.1174L16.28 12.9874Z' fill='%23011046'/%3E%3C/svg%3E%0A");
		height: 1.5rem;
		width: 1.5rem;
	}

	&:hover {
		border-color: #28e8a3;
		text-decoration: none;
	}
}

.wp-block-post-navigation-link.post-navigation-link-previous a {
  padding-left: 0.75rem;
	padding-right: 1.5rem;
}

.wp-block-post-navigation-link.post-navigation-link-previous a::after {
  transform: rotate(180deg);
  order: -1
}

/* Figcaption */
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption, 
.wp-block-image .alignright > figcaption, 
.wp-block-image.aligncenter > figcaption, 
.wp-block-image.alignleft > figcaption, 
.wp-block-image.alignright > figcaption {
	caption-side: bottom;
	display: table-caption;
}

.wp-block-image figcaption {
	color: var(--wp--preset--color--light-gray-200);
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

/* Image */
.wp-block-image.purple {
	filter: hue-rotate(96deg) saturate(25);
}

/* List */
ul.has-check-bullets {
	list-style: none;
	padding: 0;

	li {
    display: flex;
    gap: 0.5rem;
    align-items: center;

		&::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0002 20.8781C16.8603 20.8781 20.8002 16.9382 20.8002 12.0781C20.8002 7.21795 16.8603 3.27806 12.0002 3.27806C7.14009 3.27806 3.2002 7.21795 3.2002 12.0781C3.2002 16.9382 7.14009 20.8781 12.0002 20.8781ZM11.7316 15.6024L16.6205 9.73571L15.2021 8.55371L10.9604 13.6438L8.74184 11.4253L7.43628 12.7308L10.3696 15.6642L11.0844 16.379L11.7316 15.6024Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

ul.has-blue-bullets {
	list-style: none;
	padding-left: 0;

	li {
		&::before {
			content: "•";
			font-size: 1.75em;
			line-height: 0;
			color: var(--wp--preset--color--mt-blue);
			vertical-align: middle;
			margin-right: 1rem;
		}
	}
}

ol.has-big-numbers {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
	padding: 0;
	margin: 0;
	counter-reset: list;

	li {
		display: flex;
		counter-increment: list;
		gap: 1rem 1.5rem;
		align-items: center;

		@media screen and (max-width: 600px) {
			flex-direction: column;
			text-align: center;
		}
	}

	li::before {
		content: counter(list) " ";
		font-size: 2.5rem;
		color: var(--wp--preset--color--mt-blue);
	}
}



ul.gap-1,
ol.gap-1 {
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

ul.gap-4,
ol.gap-4 {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.img-with-shadow img {
  filter: drop-shadow(0 0 7px black);
}

.hide-current-page .current-menu-item {
	display: none;
}

// Comments
.comment-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top:1rem;

	* {
		margin: 0;
	}
	
	.required {
    color: var(--wp--preset--color--mt-pink);
	}

	.comment-form-policy {
		label {
			text-transform: unset;
			font-weight: normal;
			line-height: 1.4;
		}

		input[type=checkbox] {
			width: 1em !important;
			border: none;
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23011046' stroke-linecap='square'/%3E%3C/svg%3E%0A");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' stroke='%23011046' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.86676L6.79997 11.5334L12.6666 5.66675' stroke='%23011046' stroke-linecap='square'/%3E%3C/svg%3E%0A")
			}

			&:checked {
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 14.7334V1.93336C15.6 1.49153 15.2418 1.13336 14.8 1.13336L1.99998 1.13336C1.55815 1.13336 1.19998 1.49153 1.19998 1.93336V14.7334C1.19998 15.1752 1.55815 15.5334 1.99998 15.5334H14.8C15.2418 15.5334 15.6 15.1752 15.6 14.7334Z' fill='%2328E8A3' stroke='%2328E8A3' stroke-linecap='square'/%3E%3Cpath d='M4.1333 8.86676L6.79997 11.5334L12.6666 5.66675' stroke='%23011046' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A")
			}
		}
	}
	
	.comment-form-policy-top-copy  {
		margin-top: -1rem;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s;
		
		p {
			margin-top: 1rem;
			font-size: 0.8rem;
			padding: 0;
			width: 100%;
			line-height: 1.4;
		}
	}

	.comment-form-comment {
		order: 5;
	}
	
	.comment-form-policy {
		order: 6;
	}
	
	.comment-form-policy-top-copy {
		order: 7;
	}
	
	.form-submit.wp-block-button {
		order: 10;
	}
}



.site-footer .wp-block-social-link-anchor {
	position: relative;

	&::before {
		content: '';
		width: var(--size);
		height: var(--size);
		background-color: var(--background, transparent);
		position: absolute;
		background-size: contain;
	}

	&[href*="instagram.com"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5736 18.0781C17.2161 18.0781 18.5476 16.7466 18.5476 15.1041C18.5476 13.4616 17.2161 12.1301 15.5736 12.1301C13.9311 12.1301 12.5996 13.4616 12.5996 15.1041C12.5996 16.7466 13.9311 18.0781 15.5736 18.0781Z' stroke='%23FBFBFC' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.7715 6.70697H11.3744C9.05555 6.70697 7.17578 8.58674 7.17578 10.9055V19.3027C7.17578 21.6215 9.05555 23.5013 11.3744 23.5013H19.7715C22.0903 23.5013 23.9701 21.6215 23.9701 19.3027V10.9055C23.9701 8.58674 22.0903 6.70697 19.7715 6.70697Z' stroke='%23FBFBFC' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.1222 11.9552C20.8951 11.9552 21.5217 11.3286 21.5217 10.5557C21.5217 9.78272 20.8951 9.15613 20.1222 9.15613C19.3492 9.15613 18.7227 9.78272 18.7227 10.5557C18.7227 11.3286 19.3492 11.9552 20.1222 11.9552Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&[href*="github.com"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.4447 22.8269C24.4447 23.0246 24.3661 23.2142 24.2263 23.354C24.0865 23.4938 23.8969 23.5723 23.6992 23.5723C22.9092 23.5699 22.1522 23.2549 21.5936 22.6963C21.035 22.1377 20.72 21.3807 20.7176 20.5907V19.8452C20.7176 19.4499 20.5605 19.0707 20.2809 18.7911C20.0013 18.5115 19.6221 18.3544 19.2268 18.3544H18.1086V22.0815C18.1086 22.4769 18.2657 22.8561 18.5453 23.1357C18.8249 23.4153 19.2041 23.5723 19.5995 23.5723C19.7972 23.5723 19.9868 23.6509 20.1265 23.7907C20.2663 23.9304 20.3449 24.12 20.3449 24.3177C20.3449 24.5154 20.2663 24.705 20.1265 24.8448C19.9868 24.9846 19.7972 25.0632 19.5995 25.0632C18.8094 25.0607 18.0525 24.7458 17.4938 24.1871C16.9352 23.6285 16.6203 22.8715 16.6178 22.0815V18.3544H14.3816V22.0815C14.3791 22.8715 14.0642 23.6285 13.5055 24.1871C12.9469 24.7458 12.1899 25.0607 11.3999 25.0632C11.2022 25.0632 11.0126 24.9846 10.8728 24.8448C10.733 24.705 10.6545 24.5154 10.6545 24.3177C10.6545 24.12 10.733 23.9304 10.8728 23.7907C11.0126 23.6509 11.2022 23.5723 11.3999 23.5723C11.7953 23.5723 12.1745 23.4153 12.4541 23.1357C12.7337 22.8561 12.8907 22.4769 12.8907 22.0815V18.3544H11.7726C11.3772 18.3544 10.998 18.5115 10.7184 18.7911C10.4388 19.0707 10.2818 19.4499 10.2818 19.8452V20.5907C10.2793 21.3807 9.96438 22.1377 9.40574 22.6963C8.8471 23.2549 8.09013 23.5699 7.3001 23.5723C7.10241 23.5723 6.91281 23.4938 6.77301 23.354C6.63322 23.2142 6.55469 23.0246 6.55469 22.8269C6.55469 22.6292 6.63322 22.4396 6.77301 22.2998C6.91281 22.16 7.10241 22.0815 7.3001 22.0815C7.6955 22.0815 8.07469 21.9244 8.35428 21.6448C8.63387 21.3653 8.79093 20.9861 8.79093 20.5907V19.8452C8.79155 19.3439 8.91815 18.8508 9.15912 18.4112C9.40008 17.9716 9.74768 17.5996 10.17 17.3295C9.51144 16.8465 8.97594 16.2152 8.60685 15.4868C8.23777 14.7583 8.04546 13.9531 8.04552 13.1365V12.3911C8.05482 11.4652 8.30187 10.5572 8.76298 9.75418C8.53582 9.0187 8.46326 8.24418 8.54985 7.47931C8.63644 6.71443 8.88031 5.97573 9.26614 5.30964C9.32985 5.19542 9.4232 5.1005 9.53636 5.0349C9.64951 4.96931 9.77827 4.93546 9.90906 4.93694C10.7774 4.93475 11.6341 5.13587 12.4107 5.52418C13.1874 5.9125 13.8623 6.47723 14.3816 7.17318H16.6178C17.137 6.47723 17.812 5.9125 18.5886 5.52418C19.3652 5.13587 20.222 4.93475 21.0903 4.93694C21.2211 4.93546 21.3498 4.96931 21.463 5.0349C21.5761 5.1005 21.6695 5.19542 21.7332 5.30964C22.119 5.97573 22.3629 6.71443 22.4495 7.47931C22.5361 8.24418 22.4635 9.0187 22.2364 9.75418C22.6975 10.5572 22.9445 11.4652 22.9538 12.3911V13.1365C22.9539 13.9531 22.7616 14.7583 22.3925 15.4868C22.0234 16.2152 21.4879 16.8465 20.8294 17.3295C21.2517 17.5996 21.5993 17.9716 21.8402 18.4112C22.0812 18.8508 22.2078 19.3439 22.2084 19.8452V20.5907C22.2084 20.9861 22.3655 21.3653 22.6451 21.6448C22.9247 21.9244 23.3039 22.0815 23.6992 22.0815C23.8969 22.0815 24.0865 22.16 24.2263 22.2998C24.3661 22.4396 24.4447 22.6292 24.4447 22.8269Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&[href*="wordpress.org"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.88185 11.1589L11.3839 23.4895C8.23468 21.9637 6.06573 18.7347 6.06573 15C6.06573 13.6294 6.35847 12.3343 6.88185 11.1589ZM21.8694 14.5254C21.8694 13.3589 21.4524 12.5516 21.0931 11.9218C20.6141 11.1456 20.1661 10.4847 20.1661 9.70847C20.1661 8.83911 20.8226 8.03185 21.7496 8.03185C21.7895 8.03185 21.8294 8.03629 21.8738 8.04073C20.1927 6.50161 17.9573 5.56129 15.5 5.56129C12.2044 5.56129 9.30363 7.25121 7.61371 9.81492C7.83548 9.82379 8.04395 9.82823 8.22137 9.82823C9.20605 9.82823 10.7363 9.70847 10.7363 9.70847C11.2464 9.67742 11.304 10.427 10.7984 10.4847C10.7984 10.4847 10.2883 10.5423 9.72056 10.5734L13.1581 20.7927L15.225 14.6008L13.7569 10.5734C13.2468 10.5423 12.7677 10.4847 12.7677 10.4847C12.2577 10.4536 12.3198 9.67742 12.8254 9.70847C12.8254 9.70847 14.3823 9.82823 15.3093 9.82823C16.294 9.82823 17.8242 9.70847 17.8242 9.70847C18.3343 9.67742 18.3919 10.427 17.8863 10.4847C17.8863 10.4847 17.3762 10.5423 16.8085 10.5734L20.2194 20.7173L21.1597 17.5726C21.5589 16.2685 21.8694 15.3327 21.8694 14.5254ZM15.6641 15.825L12.8343 24.0528C13.6815 24.3012 14.573 24.4387 15.5 24.4387C16.6 24.4387 17.6512 24.248 18.6315 23.902C18.6048 23.8621 18.5827 23.8177 18.5649 23.7734L15.6641 15.825ZM23.781 10.4714C23.821 10.773 23.8431 11.0923 23.8431 11.4427C23.8431 12.4008 23.6657 13.4742 23.1246 14.8226L20.2415 23.1569C23.0492 21.5202 24.9343 18.4819 24.9343 15C24.9343 13.3589 24.5173 11.8153 23.781 10.4714ZM26.5 15C26.5 21.0677 21.5633 26 15.5 26C9.43226 26 4.5 21.0633 4.5 15C4.5 8.93226 9.43226 4 15.5 4C21.5633 4 26.5 8.93226 26.5 15ZM25.9944 15C25.9944 9.21169 21.2839 4.50565 15.5 4.50565C9.71169 4.50565 5.00565 9.21169 5.00565 15C5.00565 20.7883 9.71613 25.4944 15.5 25.4944C21.2883 25.4944 25.9944 20.7883 25.9944 15Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&[href*="wptoots.social"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6506 11.631C24.6506 7.37493 21.862 6.12739 21.862 6.12739C20.4559 5.48155 18.0409 5.21014 15.5336 5.1897H15.4714C12.9633 5.21014 10.55 5.48155 9.14381 6.12739C9.14381 6.12739 6.35525 7.37493 6.35525 11.631C6.35525 12.6054 6.33645 13.7712 6.36751 15.0065C6.46888 19.1693 7.13108 23.2708 10.9792 24.2895C12.7532 24.7587 14.277 24.8576 15.5041 24.7898C17.7294 24.6672 18.9786 23.9951 18.9786 23.9951L18.905 22.3805C18.905 22.3805 17.3149 22.8817 15.5295 22.8212C13.7595 22.7607 11.8923 22.6307 11.6062 20.4577C11.5793 20.2558 11.5662 20.0524 11.5669 19.8487C11.5669 19.8487 13.3042 20.2738 15.505 20.3743C16.8506 20.4357 18.1128 20.295 19.3947 20.143C21.853 19.8495 23.9933 18.3346 24.2622 16.9506C24.6849 14.7719 24.6506 11.631 24.6506 11.631ZM21.3609 17.1157H19.3195V12.1133C19.3195 11.0587 18.8756 10.524 17.9886 10.524C17.0076 10.524 16.5154 11.1584 16.5154 12.4141V15.152H14.4855V12.4133C14.4855 11.1576 13.9934 10.5232 13.0123 10.5232C12.1253 10.5232 11.6814 11.0587 11.6814 12.1125V17.1149H9.64005V11.962C9.64005 10.9083 9.9082 10.0711 10.4469 9.45226C11.0029 8.83257 11.7296 8.51538 12.633 8.51538C13.6778 8.51538 14.4692 8.91678 14.9924 9.7204L15.5 10.5731L16.0085 9.7204C16.5318 8.91678 17.3231 8.51538 18.3679 8.51538C19.2705 8.51538 19.9981 8.83257 20.554 9.45226C21.0919 10.0711 21.36 10.9083 21.36 11.962V17.1157H21.3609Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&[href*="linkedin.com"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8516 6.73926H8.02699C7.61081 6.73926 7.27344 7.07664 7.27344 7.49281V23.3174C7.27344 23.7336 7.61081 24.071 8.02699 24.071H23.8516C24.2678 24.071 24.6052 23.7336 24.6052 23.3174V7.49281C24.6052 7.07664 24.2678 6.73926 23.8516 6.73926Z' stroke='%23FBFBFC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5625 14.6516V19.9264' stroke='%23FBFBFC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.7949 14.6516V19.9264' stroke='%23FBFBFC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5625 17.289C15.5625 16.5895 15.8404 15.9187 16.335 15.424C16.8296 14.9294 17.5004 14.6516 18.1999 14.6516C18.8994 14.6516 19.5703 14.9294 20.0649 15.424C20.5595 15.9187 20.8374 16.5895 20.8374 17.289V19.9264' stroke='%23FBFBFC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.7938 12.0546C12.4404 12.0546 12.9645 11.5304 12.9645 10.8838C12.9645 10.2372 12.4404 9.71307 11.7938 9.71307C11.1472 9.71307 10.623 10.2372 10.623 10.8838C10.623 11.5304 11.1472 12.0546 11.7938 12.0546Z' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}
	
	&[href*="twitter.com"]::before,
	&[href*="x.com"]::before {
		--size: 2.4rem;
		--background: #011046;
		background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0023 13.6226L23.7043 6H22.1167L16.2949 12.6173L11.6485 6H6.28809L13.3159 16.0075L6.28809 24H7.87569L14.0197 17.0104L18.9277 24H24.2881M8.44869 7.17142H10.8877L22.1155 22.8861H19.6759' fill='%23FBFBFC'/%3E%3C/svg%3E%0A");
	}

	// Hide SVGs
	&[href*="instagram.com"],
	&[href*="github.com"],
	&[href*="wordpress.org"],
	&[href*="wptoots.social"],
	&[href*="linkedin.com"],
	&[href*="twitter.com"],
	&[href*="x.com"] {
		svg {
			opacity: 0;
		}
	}
}

.display-description-btn {
	display: inline-block;
	margin: 1rem 0 0;
	font-size: 0.8em;
}

/* Titles */
@import './scss/titles.scss';

/* Responsive */
@import './scss/responsive.scss';

/* Utils */
@import './scss/utils.scss';