@media screen and (min-width: 600px) and (max-width: 1200px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex !important;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    background-color: inherit;
    display: none;
    position: relative;
    width: 100%;
    z-index: auto;
  }

  .wp-block-navigation__responsive-container {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 1200px) {
  header.site-header .wp-block-group > .wp-block-navigation::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='156' height='150' fill='none'%3E%3Cpath fill='%23fff' d='M17.3 34.9c9.444 0 17.1-7.656 17.1-17.1C34.4 8.356 26.744.7 17.3.7 7.856.7.2 8.356.2 17.8c0 9.444 7.656 17.1 17.1 17.1ZM138.7 34.9c9.444 0 17.1-7.656 17.1-17.1 0-9.444-7.656-17.1-17.1-17.1-9.444 0-17.1 7.656-17.1 17.1 0 9.444 7.656 17.1 17.1 17.1ZM40.2 91.5l-5.9-5.9.1-35.2 23.4 23.5-17.6 17.6ZM116.4 91.5l5.7-5.8.1-35.3-23.5 23.5 17.7 17.6ZM78.142 94.256l-17.607 17.606 17.607 17.607 17.607-17.607-17.607-17.606ZM97.363 75.468 79.757 93.075l17.606 17.607 17.607-17.607-17.607-17.607ZM58.954 75.42 41.347 93.027l17.607 17.607 17.607-17.607L58.954 75.42ZM153.6 50.4h-29.8v98.9h29.8V50.4ZM32.6 50.4H2.8v98.9h29.8V50.4Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
  }
}

.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open {
  padding: 1rem 0.5rem;
  margin: -1rem 2rem -1rem auto;
  transition: 0.3s color, 0.3s background-color;
  
  svg {
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "Menú";
    padding-right: 0.75rem;
  }
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background: transparent;
  position: absolute;
  height: max-content;
  padding: 0;
}

button.wp-block-navigation__responsive-container-close {
  position: absolute;
  right: 0;
  top: -1rem;
  width: 6.5rem;
  height: 3.5rem;
  opacity: 0;
}

.wp-block-navigation__responsive-container.is-menu-open {
  .wp-block-navigation__responsive-dialog {
    margin: 0 !important;
  }

  .wp-block-navigation__responsive-close {
    width: 100%;
    padding: 0 2rem;
  }

  .wp-block-navigation__container .wp-block-navigation-item.wp-block-navigation-link a:hover,
  .wp-block-navigation-item.has-child.wp-block-navigation-submenu .wp-block-navigation-item__content:hover {
    background-color: var(--wp--preset--color--mt-green) !important;
    color: var(--wp--preset--color--mt-dark-blue) !important;
    font-family: var(--wp--preset--font-family--space-grotesk);
    text-decoration: underline;
    letter-spacing: 1.05px;
  }

  .wp-block-navigation__container .wp-block-navigation-item.wp-block-navigation-link a,
  .wp-block-navigation-item.has-child.wp-block-navigation-submenu .wp-block-navigation-item__content {
    font-family: var(--wp--preset--font-family--red-hat-display);
    color: var(--wp--preset--color--white) !important;
    background-color: var(--wp--preset--color--mt-dark-blue) !important;
    border: 1px solid var(--wp--preset--color--mt-green);
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 1rem !important;
    transition: 0.3s color, 0.3s background-color;
  }

  .wp-block-navigation__container .wp-block-navigation-item.wp-block-navigation-link {
    width: 100%;
  }

  .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    width: 100%;
    gap: 0.25rem;
  }

  .wp-block-navigation__responsive-container-content .wp-block-navigation__container .wp-block-navigation-item__content {
    width: 100%;
    text-align: center;
  }

  .wp-block-navigation__responsive-close .wp-block-navigation__container > .wp-block-navigation-item {
    padding: 0 !important;
  }

  .wp-block-navigation__submenu-container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .wp-block-navigation-item.has-child.wp-block-navigation-submenu {
    width: 100%;
    gap: 0.25rem;
  }

  .wp-block-navigation-item:has(.wp-block-site-logo) {
    display: none;
  }

  .wp-block-navigation__container > .wp-block-navigation-item:hover {
    text-decoration: unset !important;
    letter-spacing: unset !important;
  }
}

.has-modal-open .wp-block-navigation__responsive-container-open {
  background-color: var(--wp--preset--color--mt-green);
  color: var(--wp--preset--color--mt-dark-blue);
}


  
// Mobile media query
@media screen and (max-width: 768px) {
  // Mobile post navigation
  .posts-navigation li:not(:has(.prev, .next, .current)) {
    display: none;
  }

  .circular-photo-section.wp-block-columns {
    display: grid;
    grid-template-areas: 
      "photo"
      "text";
  
    .wp-block-column:nth-child(2) {
      grid-area: photo;
  
      &:not(:nth-child(2)) {
        display: flex;
        flex-direction: column;
      }
      
      &:not(:nth-child(2)) > * + * {
        margin-block-start: 0;
      }
      
      &:nth-child(1),
      &:nth-child(3) {
        grid-area: text
      }
      
      &:nth-child(1) {
        margin-top: 12em;
      }
    }
  }
}

// Tablet media query
@media screen and (min-width: 769px) and (max-width: 1200px){
  .circular-photo-section.wp-block-columns {
    display: grid;
    gap: 1rem 4rem;

    .wp-block-column:nth-child(2) {
      grid-row: 1;
      grid-column: span 2; 
    }
  }
}


